﻿/*
body {
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    background-color: #f7f7fa;
    padding-left: 40px;
}

table {
    vertical-align: middle;
    text-align: left;
}

thead {
    font-weight: bold;
}

td {
    padding-right: 10px;
}

input {
    width: 100px;
    height: 30px;
    font-weight: bold;
}
*/