﻿@model IEnumerable<AddressBook.Models.Address>

@Html.AntiForgeryToken()
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Добавление новой записи</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.First().Country, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.First().Country, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.First().Country, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-12">
                    @Html.LabelFor(model => model.First().City, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.First().City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.First().City, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-12">
                    @Html.LabelFor(model => model.First().Street, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.First().Street, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.First().Street, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-12">
                    @Html.LabelFor(model => model.First().HouseNumber, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.First().HouseNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.First().HouseNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="modal-footer">
                <div class="col" id="loading" style="display:none;">
                    <label class="control-label">Отправляем данные на сервер. Подождите...</label>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<!--Таблица-->
<div class="row col-md-12">
    <table class="table  table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col"><p>Страна</p></th>
                <th scope="col"><p>Город</p></th>
                <th scope="col"><p>Улица</p></th>
                <th scope="col"><p>№ дома</p></th>
                <th scope="col"><p>Дата создания записи<p></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 1; i < Model.Count(); i++)
            {
                <tr>
                    <td><p>@Model.ElementAt(i).Country<p></td>
                    <td><p>@Model.ElementAt(i).City</p></td>
                    <td><p>@Model.ElementAt(i).Street</p></td>
                    <td><p>@Model.ElementAt(i).HouseNumber</p></td>
                    <td><p>@Model.ElementAt(i).Date.ToLongDateString()</p></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("body").removeAttr("class");
        $("body").removeAttr("style");
        $("div[class='modal-backdrop fade show']").remove();
    });

</script>